<!DOCTYPE html>
<html>
<head>
    <title>Отображение таблицы</title>
    <style>
        /* Устанавливаем ширину для столбца "Название" */
        #dataTable td:nth-child(2) {
            width: 30%; /* Задайте желаемую ширину в процентах или пикселях */
        }
    </style>
</head>
<body>
    <h1>Отображение таблицы</h1>

    <button onclick="loadTableData()">Обновить таблицу</button>

    <h2>Таблица</h2>
    <table id="dataTable" border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Дата</th>
                <th>Время</th>
                <th>Адрес</th>
                <th>Кол.</th>
                <th>Макс.</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <!-- Здесь будут добавляться строки из скрипта -->
        </tbody>
    </table>

<script>
    async function loadTableData() {
    const startTime = performance.now(); // Засекаем начальное время
        try {


            const response = await fetch('/get_table_data');
            const dataString = await response.json();
            const data = JSON.parse(dataString);

            console.log(data.res_dict); // Выводим строку с данными для проверки

            const tableBody = document.getElementById('tableBody');
            tableBody.innerHTML = ''; // Очищаем содержимое tbody

            if (Array.isArray(data.res)) {
                // Добавляем строки из данных.res
                data.res.forEach(rowData => {
                    const newRow = tableBody.insertRow();

                    Object.values(rowData).forEach(cellData => {
                        const cell = newRow.insertCell();
                        cell.textContent = cellData;
                    });
                });
            } else {
                console.error('Ошибка при загрузке данных таблицы: Неверный формат данных');
            }
    // Загрузка данных таблицы при загрузке страницы
    const endTime = performance.now(); // Засекаем конечное время
      const executionTime = (endTime - startTime)/1000; // Вычисляем время выполнения
      console.log(`Общее время работы: ${executionTime} мс`);


        } catch (error) {
            console.error('Ошибка при загрузке данных таблицы:', error);
        }
    }


    window.onload = loadTableData;

</script>

</body>
</html>
